@mixin text-style($color: #778ca2, $size: 14px, $weight: 400) {
  @if ($color != null) {
    color: $color;
  }
  @if ($size != null) {
    font-size: $size;
  }
  @if ($weight != null) {
    font-weight: $weight;
  }
}
@mixin position(
  $type: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  @if ($type != null) {
    position: $type;
  }
  @if ($top != null) {
    top: $top;
  }
  @if ($right != null) {
    right: $right;
  }
  @if ($bottom != null) {
    bottom: $bottom;
  }
  @if ($left != null) {
    left: $left;
  }
}
