@font-face {
  font-family: "Rubik";
  src: url("../Fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", serif;
  background-color: #f8fafb;
}
body.Open .filter {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.623);
  z-index: 1;
  top: 0;
  transition: 0.5s;
}
@media (min-width: 993px) {
  body.Open .filter {
    left: -100%;
  }
}
@media (max-width: 992px) {
  body.Open .filter {
    left: 0;
  }
}
body .mainMenu {
  height: 100vh;
  border-right: 1px #e8ecef solid;
  transition: 0.5s;
  width: 230px;
  padding: 20.5px 0;
}
body .mainMenu .logo {
  height: 10vh;
}
@media (max-width: 992px) {
  body .mainMenu .logo {
    padding: 0 1.5rem;
  }
}
body .mainMenu .logo i {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
body .mainMenu .nav-link {
  cursor: pointer;
  padding: 1.5rem !important;
  border-left: 2px solid transparent;
}
body .mainMenu .nav-link svg path {
  fill: #778ca2;
}
body .mainMenu .nav-link.active, body .mainMenu .nav-link:hover {
  background-color: #f8fafb;
  border-left: 2px solid #5784fd;
}
body .mainMenu .nav-link.active svg path, body .mainMenu .nav-link:hover svg path {
  fill: #5784fd;
}
body .mainMenu .nav-link p {
  color: #778ca2;
  font-weight: 500;
}
@media (min-width: 992px) {
  body .mainMenu .nav-link p {
    font-size: 14px;
  }
}
@media (max-width: 991.86px) and (min-width: 768px) {
  body .mainMenu .nav-link p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  body .mainMenu .nav-link p {
    font-size: 10px;
  }
}
body .mainMenu.sideMenu .oneItem {
  gap: 1rem;
}
body .mainMenu.sideMenu .logo .logo-sm {
  display: none;
}
@media (max-width: 992px) {
  body .mainMenu.sideMenu {
    position: fixed;
    left: 0;
    z-index: 2;
  }
}
body .mainMenu.sideMenuClose {
  width: 70px;
  overflow: hidden;
}
body .mainMenu.sideMenuClose .oneItem p {
  display: none;
}
body .mainMenu.sideMenuClose .logo .logo-lg {
  display: none;
}
@media (max-width: 992px) {
  body .mainMenu.sideMenuClose {
    position: fixed;
    left: -100%;
  }
}
body .navIcon {
  cursor: pointer;
}
body .rightPart {
  transition: 0.5s;
}
@media (min-width: 993px) {
  body .rightPart.sideNavOpen {
    width: calc(100% - 230px);
  }
}
@media (max-width: 992px) {
  body .rightPart.sideNavOpen {
    width: 100%;
  }
}
@media (min-width: 993px) {
  body .rightPart.sideNavClose {
    width: calc(100% - 70px);
  }
}
@media (max-width: 992px) {
  body .rightPart.sideNavClose {
    width: 100%;
  }
}
body .rightPart .sideNav {
  border-bottom: 1px #e8ecef solid;
  height: 10vh;
}
body .rightPart .sideNav p {
  color: #252631;
  font-size: 20px;
  font-weight: 400;
}
body .rightPart .sideNav button {
  border: 0;
  background-color: transparent;
}
body .rightPart .sideNav button:focus {
  border: 0;
}
body .rightPart .sideNav button::after {
  display: none;
}
body .rightPart .sideNav .inputCon input {
  background-color: transparent;
  border: none;
}
body .rightPart .sideNav .inputCon input::-moz-placeholder {
  color: #778ca2;
  font-size: 14px;
  font-weight: 400;
}
body .rightPart .sideNav .inputCon input::placeholder {
  color: #778ca2;
  font-size: 14px;
  font-weight: 400;
}
body .rightPart .sideNav .inputCon input:focus {
  outline: 0;
}
body .rightPart .sideNav .inputCon img {
  position: absolute;
  top: 16%;
  left: 12px;
}
body .rightPart .messages {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0;
  inset: 27px -15px auto auto !important;
}
@media (min-width: 992px) {
  body .rightPart .messages {
    width: 320px;
  }
}
@media (max-width: 991.86px) and (min-width: 768px) {
  body .rightPart .messages {
    width: 300px;
  }
}
@media (max-width: 768px) {
  body .rightPart .messages {
    width: 250px;
  }
}
body .rightPart .messages i {
  color: white;
  font-size: 35px;
  position: absolute;
  top: -8%;
  right: 4%;
}
body .rightPart .messages .oneMessage {
  cursor: pointer;
}
body .rightPart .messages .oneMessage .name {
  font-size: 14px;
  font-weight: 400;
}
body .rightPart .messages .oneMessage .messageContent {
  color: #98a9bc;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .rightPart .messages .oneMessage img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
body .rightPart .messages .oneMessage.read .name {
  color: #1b1e24;
  font-size: 14px;
  font-weight: 400;
}
body .rightPart .messages .oneMessage.unread, body .rightPart .messages .oneMessage:hover {
  background-color: #f8fafb;
}
body .rightPart .messages .oneMessage.unread .name, body .rightPart .messages .oneMessage:hover .name {
  color: #5784fd;
  font-size: 14px;
  font-weight: 400;
}
body .rightPart .messages .allMessages {
  color: #5784fd;
  background-color: #f8fafb;
  border-radius: 10px;
  cursor: pointer;
}
body .rightPart .tasksSection {
  height: 83vh;
  overflow-y: auto;
}
body .rightPart footer {
  width: 100%;
  height: 7vh;
}
body .rightPart footer p {
  color: #98a9bc;
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=Index.css.map */