@import "_Fonts";
@import "_Mixins";
@import "_Variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", serif;
  background-color: $primary-color;
  &.Open {
    .filter {
      width: 100%;
      height: 100vh;
      position: fixed;
      background: rgba(0, 0, 0, 0.623);
      z-index: 1;
      top: 0;
      transition: 0.5s;
      @media (min-width: 993px) {
        left: -100%;
      }
      @media (max-width: 992px) {
        left: 0;
      }
    }
  }
  .mainMenu {
    height: 100vh;
    border-right: 1px $border-color solid;
    transition: 0.5s;
    width: 230px;
    .logo {
      i {
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;
      }
      @media (min-width: 993px) {
        padding: 20.5px 0;
      }
      @media (max-width: 992px) {
        padding: 15px 0;
      }
    }
    .nav-link {
      cursor: pointer;
      padding: 1.5rem !important;
      svg {
        path {
          fill: #778ca2;
        }
      }
      &.active,
      &:hover {
        background-color: $primary-color;
        border-left: 2px solid $prim-text-color;
        svg {
          path {
            fill: $prim-text-color;
          }
        }
      }
      p {
        @include text-style($weight: 500, $size: null);
        @media (min-width: 992px) {
          @include text-style(null, 14px, null);
        }
        @media (max-width: 991.86px) and (min-width: 768px) {
          @include text-style(null, 12px, null);
        }
        @media (max-width: 768px) {
          @include text-style(null, 10px, null);
        }
      }
    }
    &.sideMenu {
      .oneItem {
        gap: 1rem;
      }
      .logo {
        .logo-sm {
          display: none;
        }
      }
      @media (max-width: 992px) {
        position: fixed;
        left: 0;
        z-index: 2;
      }
    }
    &.sideMenuClose {
      width: 70px;
      overflow: hidden;
      .oneItem {
        p {
          display: none;
        }
      }
      .logo {
        .logo-lg {
          display: none;
        }
      }
      @media (max-width: 992px) {
        // display: none;
        position: fixed;
        left: -100%;
      }
    }
  }
  .navIcon {
    cursor: pointer;
  }
  .rightPart {
    transition: 0.5s;
    &.sideNavOpen {
      @media (min-width: 993px) {
        width: calc(100% - 230px);
      }
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    &.sideNavClose {
      @media (min-width: 993px) {
        width: calc(100% - 70px);
      }
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    .sideNav {
      border-bottom: 1px $border-color solid;
      height: 10vh;
      p {
        @include text-style(#252631, 20px);
      }
      button {
        border: 0;
        background-color: transparent;
        &:focus {
          border: 0;
        }
        &::after {
          display: none;
        }
      }
      .inputCon {
        input {
          background-color: transparent;
          border: none;
          &::placeholder {
            @include text-style();
          }
          &:focus {
            outline: 0;
          }
        }
        img {
          @include position(absolute, 16%, null, null, 12px);
        }
      }
    }
    .messages {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border: 0;
      inset: 27px -15px auto auto !important;
      @media (min-width: 992px) {
        width: 320px;
      }
      @media (max-width: 991.86px) and (min-width: 768px) {
        width: 300px;
      }
      @media (max-width: 768px) {
        width: 250px;
      }
      i {
        color: white;
        font-size: 35px;
        @include position(absolute, -8%, 4%, null, null);
      }
      .oneMessage {
        cursor: pointer;
        .name {
          @include text-style($color: null);
        }
        .messageContent {
          @include text-style($color: $secondry-text-color);
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 50%;
        }
        &.read {
          .name {
            @include text-style($color: #1b1e24);
          }
        }
        &.unread,
        &:hover {
          background-color: $primary-color;
          .name {
            @include text-style($color: $prim-text-color);
          }
        }
      }
      .allMessages {
        color: $prim-text-color;
        background-color: $primary-color;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    .tasksSection {
      height: 83vh;
      overflow-y: auto;
    }
    footer {
      width: 100%;
      height: 7vh;
      p {
        @include text-style($color: $secondry-text-color);
      }
    }
  }
}
